<form asp-action="Create" method="post">
    <div class="form-group">
        <label>Назва нової ролі:</label>
        <input name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Додати</button>
</form>